.item {
  width: 100%;
  padding: 0.4em;
  margin-top: 0.3em;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(253, 249, 249);
  align-items: center;
}

.item input[type="checkbox"] {
  margin-right: 0.5em;
  transform: scale(1.3);
}

.item button {
  background: none;
  border: none;
}

.item button:hover {
  cursor: pointer;
}
