.container {
  height: 100vh;
  width: 50vh;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: -5;
}

.main-container {
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

@media screen and (min-width: 270px) and (max-width: 550px) {
  .container {
    width: 100%;
  }
}
