* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: textFont-Regular;
  /* src: url(../public/NotoSans-Regular.ttf); */
  src: url(../../public/NotoSans-Regular.ttf);
}

body {
  background-color: #ffffff;
  font-family: textFont-Regular;
  font-size: 14px;
}
