.main-image {
  height: 21em;
  margin-left: -5em;
  margin-top: 1em;
}

.logo {
  width: 26%;
}

@media screen and (min-width: 270px) and (max-width: 400px) {
  .main-image {
    height: 10em;
    margin-left: -2.5em;
  }

  .logo {
    margin: 2px;
  }
}
